{% extends "game_search/layout.html" %}
{% load static %}

{% block body %}

<div id="content-container">

    {% for key, value in results.items %}
        {% if forloop.first %}
            <span class="anchor" id="top"></span>
        {% elif forloop.last %}
            <span class="anchor" id="bottom"></span>
        {% else %}
            <span class="anchor" id="middle"></span> <!-- could add forloop.counter to middle for extensibility -->
        {% endif %}

        {% if not key == "error" %}
            <div id="{{ key }}" class="page-container">
                <div id="{{ key }}-title">{{ value.title }}</div>
                <div id="{{ key }}-image">{{ value.image }}</div>
                <div id="{{ key }}-description">{{ value.description }}</div>
                <div id="{{ key }}-price">{{ value.price }}</div>
                <div id="{{ key }}-link">{{ value.link }}</div>
            </div>
        {% endif %}
    {% endfor %}
    
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'game_search/game_search.js' %}"></script>
{% endblock %}