{% extends "game_search/layout.html" %}
{% load static %}

{% block body %}

    <div class="form-container">
        <h2 id="form-header">Register</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post" class="login-reg-form">
            {% csrf_token %}
            <input class="form-input" autofocus type="text" name="username" placeholder="Username">
            <input class="form-input" type="email" name="email" placeholder="Email Address">
            <input class="form-input" type="password" name="password" placeholder="Password">
            <input class="form-input" type="password" name="confirmation" placeholder="Confirm Password">
            <input class="form-button" type="submit" value="Register">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'game_search/game_search.js' %}"></script>
{% endblock %}